
body{
    background-color: #C0E0F4;
}
li{
    list-style: none;
}
header{
    background-color: rgba(18, 125, 152, 0.74);
}
#icono{
    color: #657786;
    font-size: 20px;
    
}
.text_ico{
    color: #657786;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    font-weight:800;
    text-align: justify;

}
#twitter{
    font-size: 40px;
    margin: 20px;
    /* top: 10px; */

}
.lista{
    /* float: left; */
    clear: both;
    margin: 5px;
}
.twitter{
    float: left;
    margin: 3px;
}

#caja-padre{
    background-color: green; 
	width: 300px;
	height: 500px;

}
#caja-blanca{
	background-color: #D8E6E7;
	width:300px;
	height: 200px;
	border-radius: 10px;

}
  .contenedor{
  	background-color:  blue;
  	padding-top: 40px;
  	width: 300px;
  	border-radius: 10px;
  }  
.oso{
	width: 80px;
	height: 80px;
	border-radius: 20px;
	position: flex;
	bottom: 200px;
	font-family: 'Merriweather Sans', sans-serif;
}
 .nombre{
	color: black;
	text-decoration:none;
}
.mi-mail{
	text-decoration:none;
	color: #90A7A9;
}
 

